# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

<ifModule mod_headers.c>
    RequestHeader unset Cookie
    Header unset Set-Cookie
</ifModule>

## Can be commented out if causes errors, see notes above.
Options +FollowSymLinks -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index.php
#RewriteCond %{REQUEST_URI} (/|\.ttf|\.otf|\.svg|\.eot|\.woff|\.woff2|\.gif|\.png|\.jpg|\.pdf|\.jpeg|\.swf|\.css|\.js|\.ico|\.xml|\.txt|.map)$  [NC]
RewriteRule (.*) index.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#
########## End - Joomla! core SEF Section
